@model Istat.Models.Regione

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Regione</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Denominazione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Denominazione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Immagine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Immagine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRipartizioneNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRipartizioneNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
