@model IEnumerable<PrestitiBiblio.Models.Prestito>

@{
    ViewData["Title"] = "LibriNonRestituiti";
}

<h1>Libri Non Restituiti</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataPrestito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRestituzione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLibroNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatricolaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataPrestito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRestituzione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLibroNavigation.Codice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatricolaNavigation.Matricola)
            </td>
        </tr>
}
    </tbody>
</table>
