@model PrestitiBiblio.Models.Studente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Studente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Matricola)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Matricola)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cognome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classe)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Matricola">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <h3>Libri presi in prestito</h3>
   <table class="table">
    <thead>
        <tr>
            <th>
                Titolo
            </th>
            <th>
                Autore
            </th>
           
            <th>
                Editore
            </th>
            <th>
                Classificazione
            </th>
            <th>
                Data Presito
            </th>
            <th>
                Data Restituzione
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @{
                var prestiti = (List<Prestito>)ViewBag.Prestiti;
            }
            @foreach (var item in prestiti)
            {
                <tr>
                    <td>
                @Html.DisplayFor(modelItem => item.IdLibroNavigation.Autore)
            </td>
            <td>
                        @Html.DisplayFor(modelItem => item.IdLibroNavigation.Titolo)
            </td>
            <td>
                        @Html.DisplayFor(modelItem => item.IdLibroNavigation.Editore)
            </td>
            <td>
                        @Html.DisplayFor(modelItem => item.IdLibroNavigation.Classificazione)
            </td>
            <td>
                        @Html.DisplayFor(modelItem => item.DataPrestito)
            </td>
            <td>
                        @Html.DisplayFor(modelItem => item.DataRestituzione)
            </td>
            <td>
                </tr>
            }
            </tbody>
</div>
