@model ScuoleItaliane.Models.Scuola

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Scuola</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Denominazione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Denominazione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SedeDirettiva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SedeDirettiva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Indirizzo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Indirizzo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SitoWeb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SitoWeb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IstitutoOmniComprensivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IstitutoOmniComprensivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCaratteristicaScuolaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCaratteristicaScuolaNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdComuneNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdComuneNavigation.CodiceCatastale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdIstitutoRiferimentoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdIstitutoRiferimentoNavigation.CodiceIstituto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipologiaScuolaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipologiaScuolaNavigation.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodiceScuola" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
