@model IEnumerable<ScuoleItaliane.Models.Scuola>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form>
    Cerca per regione:
    <select name="regione">
        <option value="" selected> </option>
        @{
            var regioni = ViewBag.Regioni;
            foreach (var item in regioni)
            {
                if (ViewBag.Regione == item)
                {
                    <option value="@item" selected>@item</option>
                }
                else
                {
                    <option value="@item">@item</option>
                }

            }
        }
    </select>
    Zona litoranea: <input type="radio" name="litoranea" value=true>
    Comune: <input type="text" name="comune" placeholder="@ViewBag.Comune" />
    Denominazione: <input type="text" name="scuola" placeholder="@ViewBag.NomeScuola" />
    <input type="submit" value="Cerca" />
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Denominazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SedeDirettiva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Indirizzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cap)
            </th>
            <th>
                Comune
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SitoWeb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IstitutoOmniComprensivo)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Denominazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SedeDirettiva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indirizzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cap)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdComuneNavigation.Denominazione)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SitoWeb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IstitutoOmniComprensivo)
            </td>
           
        </tr>
}
    </tbody>
</table>
